div.v--modal-overlay {
    margin-top: 0;
}

.v--modal-overlay div {
    margin-top: 0;
}

.v--modal .p-strip {
    padding: 4rem;
}

div.v--modal {
    /* important is necessary here because they get setup in the element's style */

    height: auto !important;
}

@media (max-width: 459px) {
    div.v--modal {
        /* important is necessary here because they get setup in the element's style */
        width: auto !important;
        top: 0 !important;
        left: 0 !important;
    }
}
